@page
@model Web.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="row justify-content-center">
    <div class="col-4">
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out.</p>
    </div>
</div>